<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <filter>
    <filter-name>commons</filter-name>
    <filter-class>com.jfinal.core.JFinalFilter</filter-class>
    <init-param>
      <param-name>configClass</param-name>
      <param-value>xin.wukm.commons.config.CommonConfig</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>commons</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--<error-page>
    <error-code>404</error-code>
    <location>/api/error/404</location>
  </error-page>-->
  
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/system/error</location>
  </error-page>
  
</web-app>
